.div-line{
    width: 94%;
    height: 1px;
    border-top: 1px solid rgba(1, 1, 1, 0.05);
    background: none;
    margin:0px 3%
}

.notification{
    background-color: tomato;
    border-radius: 50%;
    width: 2.5vh;
    height: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
    color: white;
    text-decoration: none;
    margin-left: 1vh;
}

.dot{
    background-color: tomato;
    border-radius: 50%;
    width: 0.5vh;
    height: 0.5vh;
    position: absolute;
    top:-10%;
    right:-25%;
    border: 0.1vh solid black;
}

.color--red{
    color: red;
}