.profile{
    display: flex;
    height: 9vh;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    width: 95%;
    margin:0% 2.5%;
}

.profile__img-xl{
    height: 8vh;
    width: 8vh;
    border-radius: 25%;
    margin-right: 2vh;
}
.profile__img-sm{
    height: 6vh;
    width: 6vh;
    border-radius: 25%;
    margin-right: 2vh;
}
.profile__title{
    width: 60vw;
    font-size: 3vh;
    font-weight: bold;
}
.profile__subtitle{
    width: 60vw;
    height: 3vh;
    font-size: 1.5vh;
    color: rgba(1,1,1,0.3);
    display: flex;
    align-items: center;
}
.profile__subtitle__text{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.profile__subtitle__exclamation{
    margin-left: 1vw;
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 50%;
    border: 0.2vh solid red;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile__right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right:0%;
}
.profile__right__text{
    font-size: 2vh;
    color: rgba(1,1,1,0.4);
    margin-bottom: 0.5vh;
}
.profile__right > i{
    font-size: 5vh;
}