.screen-header{
    padding:2vh var(--horizontal-space);
    padding-top: 5vh;
    font-size: 3vh;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.screen-header > *{
    width: 33%;
}
.screen-header__title{
    font-weight: bolder;
}
.screen-header__title-center{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen-header__icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.screen-header__icons i{
    margin-left:3vh;
    position: relative;
}
.have-plus div{
    position: absolute;
    top:25%;
    right:-10%;
    background-color: white;
    width: 35%;
    height: 35%;
    font-size: 35%;
    border-radius: 50%;
    font-weight: bold;
}
.screen-header-fixed{
    padding-top: 2vh;
    position: fixed;
    width: 95vw;
    top:2vh;
}