
#status-bar{
    display: flex;
    height:3vh;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    top:0;
}
#status-bar > * {
    margin:2vw;
    width:33%;
    font-size: 1.5vh;
    text-align: center;
    align-items: center;
    display: flex;
}
.status-bar__column:first-child{
    justify-content: baseline;
}
.status-bar__column:nth-child(2){
    justify-content: center;
}
.status-bar__column:nth-child(3){
    justify-content: end;
}
.inline-image{
    height: 50%;
}