#chat{
    background-color: #ABC1D1;
}
.chat__main{
    padding-top: 20vh;
    height: 500vh;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: None;
    }
}
.chat__main__date{
    margin: 0vh 28vw;
    width: 44vw;
    height: 4vh;
    border-radius: 2vh;
    color: white;
    background-color: rgba(1, 1, 1, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}
#chat #status-bar{
    background-color: #ABC1D1;
    z-index: 10;
}
#chat .screen-header{
    background-color: #ABC1D1;
    z-index: 1;
}
.chat__main__other{
    margin:2.5vw;
    max-width: 40%;
    display: flex;
    transform: translateX(-50vw);
    animation: inLeft 1s ease-in-out forwards;
}
@keyframes inLeft{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateX(0vw);
    }
}
@keyframes inRight{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateX(0vw);
    }
}
.chat__main__other img{
    width: 8vw;
    height: 8vw;
    border-radius: 3vw;
}
.chat__main__other__content{
    width: 100%;
    margin-left:1vw;
    display: flex;
    flex-direction: column;
}
.chat__main__other__content__name{
    font-size: 2.5vw;
    color: rgba(1, 1, 1, 0.4);
    font-weight: bold;
}
.comment{
    display: flex;
    align-items: flex-end;
}
.comment__bubble{
    margin-top: 1vw;
    padding:1.5vw;
    font-size: 3.5vw;
    border-radius: 1vw;
    color: black;
    font-weight: bold;
    display: block;
}
.comment__time{
    margin: 0vh 1vw;
    color: rgba(1, 1, 1, 0.5);
    font-size: 2vw;
}
.comment-other .comment__bubble{
    border-top-left-radius: 0;
    background-color: white;
}
.comment-self{
    margin-right: 1vw;
    flex-direction: row-reverse;
    animation: inRight 1s ease-in-out forwards;
    animation-delay: 0.5s;
    transform: translateX(50vw);
}
.comment-self .comment__bubble{
    border-top-right-radius: 0;
    background-color: var(--yellow);
}


.chat__main__self{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.chat__main__self__time{
    margin-right: 1vw;
    color: rgba(1, 1, 1, 0.5);
    font-size: 2vw;
}

.chat__input{
    width: 100%;
    height: 8vh;
    position: fixed;
    background-color: white;
    bottom: 0%;
    border-top: 1px solid rgba(1, 1, 1, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .3s ease-in-out;
}

.chat__input__plus{
    height: 4vh;
    width: 4vh;
    border: 0.2vh solid rgba(1, 1, 1, 0.5);
    border-radius: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    font-size: 4vh;
}
.chat__input__main{
    padding-left: 2vw;
    margin-right: 2vw;
    width:85vw;
    height: 6vh;
    border: 0.2vh solid rgba(1, 1, 1, 0.3);
    border-radius: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(247, 240, 240);
    transition: all .3s ease-in-out;
}
.chat__input__main__text{
    font-size: 2.5vh;
    width: 100%;
}
.chat__input__main__right{
    display: flex;
    align-items: center;
    font-size: 4.5vh;
}
.chat__input__main__right__send{
    margin-left: 2.5vw;
    margin-right: 0.15vh;
    height: 5.7vh;
    width: 5.7vh;
    border-radius: 50%;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    font-weight: bold;
}
.chat__input:focus-within .chat__input__plus,
.chat__input:focus-within .chat__input__main__right{
    opacity: 0;
}.chat__input .chat__input__plus,
.chat__input .chat__input__main__right{
    transition: opacity 0.3s ease-in-out;
}
.chat__input:focus-within .chat__input__main{
    width: 95vw;
    transform: translateX(-2vw) translateY(-20vh);
}
.chat__input:focus-within{
    transform: translateY(20vh);
}